# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml

# Local config
local.properties
keystore.properties

# Kotlin
.kotlin/

# Native build
.externalNativeBuild/
.cxx/

# Release outputs
/app/release/
*.apk
*.aab

# macOS
.DS_Store

